@font-face {
    font-family: Webdings; 
    src: local("Webdings") 
    url("WEBDINGS.TTF"); }
.puffIn {
  -webkit-animation-name: puffIn;
  animation-name: puffIn;
  animation-duration: 18s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite; 
  animation-direction: alternate;
}
@-webkit-keyframes puffIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(2,2);
    -webkit-filter: blur(1px);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 40% 40%;
    -webkit-transform: scale(1.05,1.05);
    -webkit-filter: blur(0px);
  }
}
@keyframes puffIn {
  0% {
    opacity: 0.5;
    transform-origin: 50% 50%;
    transform: scale(2,2);
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1.05,1.05);
    filter: blur(0px);
  } }


body{ margin: 0; padding: 0; overflow: hidden;}


img{ height: 100%;
     padding: 0;
       margin: 0%;
         width: 100%;
 /*         max-width: 1366px;
           max-height: 768px;*/
            
}
.box1{ width: 100%; 
       height: 100%;
       padding: 0%;
       margin: 0%;
      /* overflow:  hidden;*/
      border: none;
}
.button {
   position: absolute; 
   z-index: 10;
   top: 85%;
   left: 70%;
   width: 20%;
   text-align: center;
   border: 5px solid #c8deeb;
   background: #5d8cab;
   background: -webkit-gradient(linear, left top, left bottom, from(#c6e1f2), to(#5d8cab));
   background: -webkit-linear-gradient(top, #c6e1f2, #5d8cab);
   background: -moz-linear-gradient(top, #c6e1f2, #5d8cab);
   background: -ms-linear-gradient(top, #c6e1f2, #5d8cab);
   background: -o-linear-gradient(top, #c6e1f2, #5d8cab);
   background-image: -ms-linear-gradient(top, #c6e1f2 0%, #5d8cab 100%);
   padding: 9px 18px;
   -webkit-border-radius: 27px;
   -moz-border-radius: 27px;
   border-radius: 27px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #dbdbdb;
   font-size: 23px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 5px solid #9db1bd;
   text-shadow: #1e4158 0 1px 0;
   background: #84aec9;
   background: -webkit-gradient(linear, left top, left bottom, from(#c3d1db), to(#84aec9));
   background: -webkit-linear-gradient(top, #c3d1db, #84aec9);
   background: -moz-linear-gradient(top, #c3d1db, #84aec9);
   background: -ms-linear-gradient(top, #c3d1db, #84aec9);
   background: -o-linear-gradient(top, #c3d1db, #84aec9);
   background-image: -ms-linear-gradient(top, #c3d1db 0%, #84aec9 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 5px solid #b9ced9;
   background: #79a6c4;
   background: -webkit-gradient(linear, left top, left bottom, from(#5b778a), to(#84aec9));
   background: -webkit-linear-gradient(top, #5b778a, #79a6c4);
   background: -moz-linear-gradient(top, #5b778a, #79a6c4);
   background: -ms-linear-gradient(top, #5b778a, #79a6c4);
   background: -o-linear-gradient(top, #5b778a, #79a6c4);
   background-image: -ms-linear-gradient(top, #5b778a 0%, #79a6c4 100%);
   color: #fff;
   }
.sound { position: absolute; 
   display: none;
   z-index: 12;
   top: 83%;
   left: 5%;
   text-align: center;
   border: 5px solid #c8deeb;
   background: #5d8cab;
   background: url("images/sound.png"), -webkit-gradient(linear, left top, left bottom, from(#c6e1f2), to(#5d8cab));
   background: url("images/sound.png"), -webkit-linear-gradient(top, #c6e1f2, #5d8cab);
   background: url("images/sound.png"), -moz-linear-gradient(top, #c6e1f2, #5d8cab);
   background: url("images/sound.png"), -ms-linear-gradient(top, #c6e1f2, #5d8cab);
   background: url("images/sound.png"), -o-linear-gradient(top, #c6e1f2, #5d8cab);
   background-image: url("images/sound.png"), -ms-linear-gradient(top, #c6e1f2 0%, #5d8cab 100%);
   background-repeat: no-repeat;
   background-position: 50% 50%, 0% 0%;
   background-size: 70%, auto;
   padding: 6%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   vertical-align: middle;
   }
 .sound:hover {
   border: 5px solid #9db1bd;
   text-shadow: #1e4158 0 1px 0;
   background: #84aec9;
   background: url("images/sound.png"), -webkit-gradient(linear, left top, left bottom, from(#c3d1db), to(#84aec9));
   background: url("images/sound.png"), -webkit-linear-gradient(top, #c3d1db, #84aec9);
   background: url("images/sound.png"), -moz-linear-gradient(top, #c3d1db, #84aec9);
   background: url("images/sound.png"), -ms-linear-gradient(top, #c3d1db, #84aec9);
   background: url("images/sound.png"), -o-linear-gradient(top, #c3d1db, #84aec9);
   background-image: url("images/sound.png"), -ms-linear-gradient(top, #c3d1db 0%, #84aec9 100%);
   background-repeat: no-repeat;
   background-position: 50% 50%, 0% 0%;
   background-size: 70%, auto;
     
 }
   
.sound:active {
   text-shadow: #1e4158 0 1px 0;
   border: 5px solid #b9ced9;
   background: #79a6c4;
   background: url("images/sound.png"), -webkit-gradient(linear, left top, left bottom, from(#5b778a), to(#84aec9));
   background: url("images/sound.png"), -webkit-linear-gradient(top, #5b778a, #79a6c4);
   background: url("images/sound.png"), -moz-linear-gradient(top, #5b778a, #79a6c4);
   background: url("images/sound.png"), -ms-linear-gradient(top, #5b778a, #79a6c4);
   background: url("images/sound.png"), -o-linear-gradient(top, #5b778a, #79a6c4);
   background-image: url("images/sound.png"), -ms-linear-gradient(top, #5b778a 0%, #79a6c4 100%);
   background-repeat: no-repeat;
   background-position: 50% 50%, 0% 0%;
   background-size: 70%, auto;
    
}
 @-webkit-keyframes puffInHigh {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(3,3);
    -webkit-filter: blur(1px);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1.5,1.5);
    -webkit-filter: blur(0px);
  }
}
@keyframes puffInHigh {
  0% {
    opacity: 0.5;
    transform-origin: 50% 50%;
    transform: scale(2.5,2.5);
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1.5,1.5);
    filter: blur(0px);
  } }

 @-webkit-keyframes puffInMax {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(5,5);
    -webkit-filter: blur(1px);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(2.5,2.5);
    -webkit-filter: blur(0px);
  }
}
@keyframes puffInMax {
  0% {
    opacity: 0.5;
    transform-origin: 50% 50%;
    transform: scale(5,5);
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(2.5,2.5);
    filter: blur(0px);
  } }
 @-webkit-keyframes puffInMin {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(2,2);
    -webkit-filter: blur(1px);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(0.95,0.95);
    -webkit-filter: blur(0px);
  }
}
@keyframes puffInMin {
  0% {
    opacity: 0.5;
    transform-origin: 50% 50%;
    transform: scale(2,2);
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0.95,0.95);
    filter: blur(0px);
  } }
  
   @-webkit-keyframes puffInSmart {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1,1);
    -webkit-filter: blur(1px);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(2,2);
    -webkit-filter: blur(0px);
  }
}
@keyframes puffInSmart {
  0% {
    opacity: 0.5;
    transform-origin: 50% 50%;
    transform: scale(1,1);
    
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    -webkit-transform: scale(2,2);
    
  } }

@media screen and (orientation: landscape) and (min-height: 768px) {
.puffIn {
  -webkit-animation-name: puffInHigh;
  animation-name: puffInHigh;} 
}
@media screen and (orientation: landscape) and (min-height: 980px) {
.puffIn {
  -webkit-animation-name: puffInMax;
  animation-name: puffInMax;} 
}
/*@media screen and (max-device-height: 600px) {
.puffIn {
  -webkit-animation-name: puffInMin;
  animation-name: puffInMin;} */

@media screen and (orientation: portrait) and (max-device-height: 980px) {

   /*img {height: auto; width: 100%; margin: auto; padding: 0;}*/
   body {width: 100%; height: 100%;}
   .puffIn {animation: none;
     display: none;
   }
   .button {width: 40%; height: 8%; left: 50%; top: 83%; font-size: 78px; vertical-align: middle; padding: 2%; -webkit-border-radius: 15%;
   -moz-border-radius: 15%; border-radius: 15%; ; opacity: 0.8;}
   .box1 {position: absolute;
  -webkit-animation-name: puffInSmart;
  animation-name: puffInSmart;
  animation-duration: 18s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite; 
  animation-direction: alternate;
   }
  /* .low1 {background: 0% 0% url('images/img1_low.jpg') no-repeat black;
     background-size: 100%;
   }*/
   .low2 {
     background: 50% 0% url('images/img3_low.jpg') no-repeat;
     background-size: cover;
   }
   .low3 {background: 50% 0% url('images/img4_low.jpg') no-repeat;
     background-size: cover;
   }
   .low5 {background: 50% 0% url('images/img5_low.jpg') no-repeat;
     background-size: cover;
   }
   .low6 {background: 50% 0% url('images/img6_low.jpg') no-repeat;
     background-size: cover;
   }
   .sound {display: block; opacity: 0.6;}
 }
@media screen and (orientation: landscape) and (max-device-height: 500px) {.sound {display: block; opacity: 0.6; padding: 3.5%; top: 76%;}
    .button {
  top: 83%;
   left: 50%;
   width: 30%;
   height: 12%;
   font-size: 36px;}
}
  /* img {width: 100%;  height: auto;}
   .button {min-width: 35%; min-height: 15%; left: 85%; top: 60%; font-size: 60px;}
   .puffIn {
  -webkit-animation-name: puffInSmart;
  animation-name: puffInSmart;}
 */
